@using Model.Business.ViewModel
@model UserViewModel

@{
            ViewBag.Title = "Forget password";
            Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container" style="max-width: 500px;">
    <div class="col-sm-12">
        @using (Html.BeginForm("ForgetPassword", "Account", FormMethod.Post, htmlAttributes: new { @class = "dms-form" }))
        {
            @Html.AntiForgeryToken();
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="col-sm-12">
                @Html.LabelFor(model => model.Username)
            </div>
            <div class="col-sm-12 dms-input-holder">
                @Html.EditorFor(model => model.Username)
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
            </div>
            <div class="col-sm-12 dms-input-holder align-right" style="margin-top: 20px;">
                <input type="submit" class="dms-button" style="width: 100%;" value="Request" />
            </div>
        }
    </div>
</div>