@using Model.Business.ViewModel
@model UserViewModel

@{
            ViewBag.Title = "Account";
            Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3>Account</h3>
<hr />
<div class="container" ">
    <div class="col-sm-6">
        <h4>Change Password</h4>
        @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, htmlAttributes: new { @class = "dms-form" }))
        {
            @Html.AntiForgeryToken();
            <div class="col-sm-12">
                <label>Current Password</label>
            </div>
            <div class="col-sm-12 dms-input-holder">
                @Html.PasswordFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.RePassword, "", new { @class = "text-danger" })
            </div>
            <div class="col-sm-12">
                <label>New Password</label>
            </div>
            <div class="col-sm-12 dms-input-holder">
                @{ Html.EnableClientValidation(false); }
                @Html.PasswordFor(model => model.RePassword)
                @Html.ValidationMessageFor(model => model.RePassword, "", new { @class = "text-danger" })
                @{ Html.EnableClientValidation(true); }
            </div>
            <div class="col-sm-12 dms-input-holder align-right" style="margin-top: 20px;">
                <input type="submit" class="dms-button" style="width: 100%;" value="Change" />
            </div>
                    }
    </div>
    <div class="col-sm-6">
        <h4>Change Email</h4>
        @using (Html.BeginForm("ChangeEmail", "Account", FormMethod.Post, htmlAttributes: new { @class = "dms-form" }))
            {
            @Html.AntiForgeryToken();
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="col-sm-12">
                @Html.LabelFor(model => model.Email)
            </div>
            <div class="col-sm-12 dms-input-holder">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
            <div class="col-sm-12 dms-input-holder align-right" style="margin-top: 20px;">
                <input type="submit" class="dms-button" style="width: 100%;" value="Change" />
            </div>
        }
    </div>
</div>