@using Model.Business.ViewModel
@using Model.Domain_Model
@model Dictionary<string, List<AccessRequestViewModel>>
@{
    ViewBag.Title = "Access Requests";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Access Requests</h2>
<hr />

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#pending">Pending</a></li>
    <li><a data-toggle="tab" href="#accepted">Accepted</a></li>
    <li><a data-toggle="tab" href="#denied">Dennied</a></li>
</ul>

<div class="tab-content">
    <div id="pending" class="tab-pane fade in active">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="dms-tbl-th">@Html.LabelFor(model => model[RequestStatus.Pending.ToString()][0].RequestID)</th>
                        <th class="dms-tbl-th">@Html.LabelFor(model => model[RequestStatus.Pending.ToString()][0].Owner)</th>
                        <th class="dms-tbl-th">@Html.LabelFor(model => model[RequestStatus.Pending.ToString()][0].Requester)</th>
                        <th class="dms-tbl-th">@Html.LabelFor(model => model[RequestStatus.Pending.ToString()][0].RequestStatus)</th>
                        <th class="dms-tbl-th">@Html.LabelFor(model => model[RequestStatus.Pending.ToString()][0].Date.Date)</th>
                        <th class="dms-tbl-th">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model[RequestStatus.Pending.ToString()])
            {
                        <tr>
                            <td>@item.RequestID</td>
                            <td>@item.Owner</td>
                            <td>@item.Requester</td>
                            <td>@item.RequestStatus</td>
                            <td>@item.Date</td>
                            <td>
                                <a onclick="Delete('FileAccess', 'AcceptRequest', 'fileid='+ @item.FileID + '&rUserID=' + @item.UserID );">Accept</a> |
                                <a onclick="Delete('FileAccess', 'DenyRequest', 'fileid=' + @item.FileID + '&rUserID=' + @item.UserID );">Deny</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div id="accepted" class="tab-pane fade">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="dms-tbl-th">@Html.LabelFor(model => model[RequestStatus.Pending.ToString()][0].RequestID)</th>
                        <th class="dms-tbl-th">@Html.LabelFor(model => model[RequestStatus.Pending.ToString()][0].Owner)</th>
                        <th class="dms-tbl-th">@Html.LabelFor(model => model[RequestStatus.Pending.ToString()][0].Requester)</th>
                        <th class="dms-tbl-th">@Html.LabelFor(model => model[RequestStatus.Pending.ToString()][0].RequestStatus)</th>
                        <th class="dms-tbl-th">@Html.LabelFor(model => model[RequestStatus.Pending.ToString()][0].Date.Date)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model[RequestStatus.Accepted.ToString()])
            {
                        <tr>
                            <td>@item.RequestID</td>
                            <td>@item.Owner</td>
                            <td>@item.Requester</td>
                            <td>@item.RequestStatus</td>
                            <td>@item.Date</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div id="denied" class="tab-pane fade">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="dms-tbl-th">@Html.LabelFor(model => model[RequestStatus.Pending.ToString()][0].RequestID)</th>
                        <th class="dms-tbl-th">@Html.LabelFor(model => model[RequestStatus.Pending.ToString()][0].Owner)</th>
                        <th class="dms-tbl-th">@Html.LabelFor(model => model[RequestStatus.Pending.ToString()][0].Requester)</th>
                        <th class="dms-tbl-th">@Html.LabelFor(model => model[RequestStatus.Pending.ToString()][0].RequestStatus)</th>
                        <th class="dms-tbl-th">@Html.LabelFor(model => model[RequestStatus.Pending.ToString()][0].Date.Date)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model[RequestStatus.Denied.ToString()])
            {
                        <tr>
                            <td>@item.RequestID</td>
                            <td>@item.Owner</td>
                            <td>@item.Requester</td>
                            <td>@item.RequestStatus</td>
                            <td>@item.Date</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
